:root {
  --title-color: #212121;
  --text-color: #757575;
  --logo-color: #000000;
  --second-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --bcg-grey-color: #2F303A;
  --bcg-team: #F5F4FA;
  --border-head: #ECECEC;
  --border-cards: #EEEEEE;
  --address-link: rgba(255, 255, 255, 0.6);
  --button-hover: #188CE8;
  --client-color: #AFB1B8;
  --idx-backdrop: 1000;
  --trns-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--bcg-grey-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header {
  border-bottom: 1px solid var(--border-head);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .header__item:not(last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item:not(last-child) {
    margin-right: 50px;
  }
}

.header__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    margin-left: auto;
    margin-right: 0;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0px;
  color: var(--text-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--trns-time);
  transition: color var(--trns-time);
}
.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill var(--trns-time);
  transition: fill var(--trns-time);
}
.header__icon:hover, .header__icon:focus {
  fill: var(--accent-color);
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__item:not(last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--trns-time);
  transition: color var(--trns-time);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  display: block;
  color: var(--logo-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.logo .blue {
  color: var(--accent-color);
}

.logo .white {
  color: var(--white-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-icon {
  fill: var(--title-color);
  -webkit-transition: fill var(--trns-time);
  transition: fill var(--trns-time);
}
.menu-toggle-icon:hover, .menu-toggle-icon:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--white-color);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  -webkit-transition: color var(--trns-time);
  transition: color var(--trns-time);
}
.mobile-menu .link:hover, .mobile-menu .link:focus {
  color: var(--accent-color);
}
.mobile-menu .link:not(last-child) {
  padding-bottom: 32px;
}

.mobile-contacts .mail {
  padding-top: 32px;
}

.mobile-contacts .phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contacts .mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

.mobile-socials .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-socials-item:not(first-child) {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-item:first-child {
  padding-left: inherit;
  border-left: none;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}
.section__title--visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--bcg-grey-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_480.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_960.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_960.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_768.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_1536.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_1536.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_1600.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img_3200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img_3200.jpg");
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: background-color var(--trns-time), border-color var(--trns-time);
  transition: background-color var(--trns-time), border-color var(--trns-time);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.feature__list {
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-team);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;
}

.feature__text {
  line-height: 1.7142857143;
}
@media screen and (max-width: 767px) {
  .feature__text {
    margin-bottom: 30px;
  }
}

.action__section {
  padding-top: 0;
}
@media screen and (max-width: 1119px) {
  .action__section {
    display: none;
  }
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  text-align: center;
}

.action__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.action__item:last-child {
  margin-right: 0;
}

.action__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.team__section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bcg-team);
}

.team__list {
  gap: 30px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__item {
  border: 1px solid var(--border-cards);
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .team__item:not(last-child) {
    padding-bottom: 30px;
  }
}

.descript {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.descript__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--title-color);
}

.descript__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--trns-time);
  transition: background-color var(--trns-time);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: #afb1b8;
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--white-color);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--client-color);
  border-radius: 4px;
  color: var(--client-color);
  -webkit-transition: border-color var(--trns-time), color var(--trns-time);
  transition: border-color var(--trns-time), color var(--trns-time);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.button-list .btn:last-child {
  text-align: center;
  margin-right: 0;
}

.button-list .filter {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--bcg-team);
  border-color: var(--bcg-team);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: color var(--trns-time), background-color var(--trns-time), border-color var(--trns-time), -webkit-box-shadow var(--trns-time);
  transition: color var(--trns-time), background-color var(--trns-time), border-color var(--trns-time), -webkit-box-shadow var(--trns-time);
  transition: color var(--trns-time), background-color var(--trns-time), border-color var(--trns-time), box-shadow var(--trns-time);
  transition: color var(--trns-time), background-color var(--trns-time), border-color var(--trns-time), box-shadow var(--trns-time), -webkit-box-shadow var(--trns-time);
}
.button-list .filter:hover, .button-list .filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section.card {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 34px;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.card-list .item {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  -webkit-transition: -webkit-box-shadow var(--trns-time);
  transition: -webkit-box-shadow var(--trns-time);
  transition: box-shadow var(--trns-time);
  transition: box-shadow var(--trns-time), -webkit-box-shadow var(--trns-time);
}
.card-list .item:hover, .card-list .item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 1199px) {
  .card-list .item {
    width: 354px;
  }
  .card-list .item:nth-child(2n) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-list .item:nth-child(3n) {
    margin-right: 0;
  }
  .card-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.card-list .descript-card {
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--border-cards);
  border-bottom: 1px solid var(--border-cards);
  border-left: 1px solid var(--border-cards);
  text-align: left;
}

.card-list .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.card-list .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.875;
}

.card-list .item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: 2px;
          backdrop-filter: 2px;
  -webkit-transition: -webkit-transform var(--trns-time);
  transition: -webkit-transform var(--trns-time);
  transition: transform var(--trns-time);
  transition: transform var(--trns-time), -webkit-transform var(--trns-time);
}

.cards-thumb .overlay-text {
  padding: 63px 24px;
  text-align: left;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--white-color);
}

.footer .container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .footer .coordinates {
    margin-right: 165px;
  }
}
@media screen and (max-width: 1199px) {
  .footer .coordinates {
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .coordinates {
    margin-right: 70px;
    text-align: left;
  }
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-color);
}

.address .item {
  margin-bottom: 9px;
}
.address .item:last-child {
  margin-bottom: 0;
}

.address .map {
  font-family: inherit;
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--white-color);
  -webkit-transition: color var(--trns-time);
  transition: color var(--trns-time);
}
.address .map:hover, .address .map:focus {
  color: var(--accent-color);
}

.address .link {
  font-family: inherit;
  font-style: normal;
  line-height: 1.7142857143;
  color: var(--address-link);
  -webkit-transition: color var(--trns-time);
  transition: color var(--trns-time);
}
.address .link:hover, .address .link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footer .connection {
    text-align: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .connection {
    text-align: left;
  }
}

.footer .connect {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  gap: 10px;
}
@media screen and (max-width: 1199px) {
  .footer .connect {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.connect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--trns-time);
  transition: background-color var(--trns-time);
}
.connect-link:hover, .connect-link:focus {
  background-color: var(--accent-color);
}

.connect-icon {
  stroke: var(--white-color);
  fill: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .footer .sign {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .sign {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .sign {
    text-align: left;
  }
}

.sign-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-input {
  height: 50px;
  background: var(--bcg-grey-color);
  font-size: 16px;
  line-height: 1.25;
  color: var(--address-link);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: background-color var(--trns-time), border-color var(--trns-time);
  transition: background-color var(--trns-time), border-color var(--trns-time);
}
.sign-input:hover, .sign-input:focus {
  background: var(--bcg-grey-color);
  border-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .sign-input {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .sign-input {
    margin-bottom: 20px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
}

.sign-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  gap: 10px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: background-color var(--trns-time), border-color var(--trns-time);
  transition: background-color var(--trns-time), border-color var(--trns-time);
}
.sign-button:hover, .sign-button:focus {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--idx-backdrop);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: opacity 150ms linear, visibility 150ms linear;
  transition: opacity 150ms linear, visibility 150ms linear;
  padding: 50px 20px;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill var(--trns-time);
  transition: fill var(--trns-time);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  padding: 32px 47px 48px 33px;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: bold;
  color: var(--logo-color);
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 342px;
  background: var(--white-color);
}

.form-group .form-field {
  position: relative;
  padding-top: 0;
}
.form-group .form-field:not(last-child) {
  margin-bottom: 10px;
}

.form-field .form-label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.form-group .form-input {
  padding: 0;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--trns-time);
  transition: border-color var(--trns-time);
}
.form-group .form-input:hover, .form-group .form-input:focus {
  border-color: var(--accent-color);
}

.form-group .form-comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color var(--trns-time);
  transition: border-color var(--trns-time);
}
.form-group .form-comment:hover, .form-group .form-comment:focus {
  border-color: var(--accent-color);
}

.form-field .form-icon {
  position: absolute;
  top: 65%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--trns-time);
  transition: fill var(--trns-time);
}
.form-field .form-icon:hover, .form-field .form-icon:focus {
  fill: var(--accent-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.push-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--trns-time), border-color var(--trns-time);
  transition: background-color var(--trns-time), border-color var(--trns-time);
}
.push-btn:hover, .push-btn:focus {
  background-color: var(--button-hover);
  border-color: var(--button-hover);
}

.policy-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.policy-icon .unchecked {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: var(--trns-time);
  transition: var(--trns-time);
}

.policy-input:checked + .policy-icon .unchecked {
  opacity: 0;
}

.policy-icon .checked {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: var(--trns-time);
  transition: var(--trns-time);
}

.policy-input:checked + .policy-icon .checked {
  opacity: 1;
}

.policy-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .policy-field {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .policy-field {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.policy-label {
  margin-left: 7px;
}

.policy-link {
  line-height: 1.7142857143;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */